    .mat-card {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .plus_fab {
        background-color: rgb(17, 190, 17);
        margin-bottom: 1em;
    }

    .header_grid-list {
        width: 100%;
    }

    .details_grid-list {
        width: 100%;
    }

    .left-align-forced {
        width: 100%;
    }
